  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">変更完了</span>
          <p>粋なことしてくれるじゃねぇか。俺様がコメントした内容とテメーのブログとの内容が噛み合わなくなっちまってるじゃねぇか！</p>
        </div>
        <div class="card-action">
          <a href="/">仕方ないので top に戻る</a>
        </div>
      </div>
    </div>
  </div>
